<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>userManagement</title>

    <link rel="stylesheet" href="/templates/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap" rel="stylesheet">

    <script src="js/admin.js"></script>
</head>
<body>
    <div id="header"></div>

    <div class="content">
        <div class="content-user-management">

            <div class="content-user-management-title-box">
                <div class="content-user-management-title-name-box">
                    <span class="content-user-management-title-name">회원목록</span>
                </div>
            </div>

            <table class="content-user-management-table">
                <tr class="content-user-management-table-header">
                    <th>체크</th>
                    <th>회원 코드</th>
                    <th>이메일</th>
                    <th>가입일</th>
                </tr>
                <tr class="content-user-management-table-body" th:each="user : ${userList}">
                    <td><input type="checkbox"></td>
                    <td th:text="${user.code}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.regist}"></td>
                </tr>
            </table>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch("admin_main.html")
                .then(response => response.text())
                .then(data => {
                    document.getElementById('header').innerHTML = data;
                })
                .catch(error => console.error('파일을 로드하는 중 오류가 발생하였습니다.', error));
        });
    </script>

</body>
</html>