a, a:link, a:visited{ /* a태그 특징제거 (ex.파란색 글씨) */
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin-main {
    font-family: 'Do Hyeon', sans-serif;

    position: relative;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
}

.header {
    width: 1920px;
    height: 100px;
    position: relative;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
}

.header-title {
    width: 400px;
    height: 100px;
    background-color: rgba(100,100,100,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-name {
    cursor: pointer;

    font-family: 'Black Han Sans', sans-serif;
    color: #FFE150;


    font-size: 52px;
    opacity: 1;
}

.title-name-admin {
    color: rgba(255,255,255,1);
}

.header-nevigation{
    width: 200px;
    height: 100px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1720px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nevigation-logout {
    font-size: 32px;
    opacity: 1;
}

.menu {
    width: 400px;
    height: 980px;
    background: rgba(100,100,100,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.menu-box1 {
    width: 400px;
    height: 50px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.site-management {
    color: #17A1FA;
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 20px;
    opacity: 1;
    text-align: left;
    padding-left: 30px;
}

.menu-box2 {
    width: 400px;
    height: 50px;
    opacity: 1;
    position: absolute;
    top: 50px;
    left: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.dash-board {
    border: 0;
    width: 300px;
    color: rgba(255,255,255,1);

    top: 0px;
    left: 100px;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.dash-board-img-box {
    width: 100px;
    height: 50px;
    opacity: 1;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.bi-grid {
    font-size: 40px;
    color: rgba(255,255,255,1);
    opacity: 1;
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: flex;
    margin-left: 30px;
    margin-top: 5px;
}

.menu-box3 {
    width: 400px;
    height: 50px;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.user-management {
    border: 0;
    width: 300px;
    color: rgba(255,255,255,1);

    top: 0px;
    left: 100px;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.user-management-img-box {
    width: 100px;
    height: 50px;
    opacity: 1;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.bi-person {
    font-size: 40px;
    color: rgba(255,255,255,1);
    opacity: 1;
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: flex;
    margin-left: 30px;
    margin-top: 5px;
}

.menu-box4 {
    width: 400px;
    height: 50px;
    opacity: 1;
    position: absolute;
    top: 150px;
    left: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.notice {
    border: 0;
    width: 300px;
    color: rgba(255,255,255,1);

    top: 0px;
    left: 100px;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.notice-img-box {
    width: 100px;
    height: 50px;
    opacity: 1;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.bi-megaphone {
    font-size: 40px;
    color: rgba(255,255,255,1);
    opacity: 1;
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: flex;
    margin-left: 30px;
    margin-top: 5px;
}

.menu-box5 {
    width: 400px;
    height: 50px;
    opacity: 1;
    position: absolute;
    top: 200px;
    left: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.question {
    border: 0;
    width: 300px;
    color: rgba(255,255,255,1);

    top: 0px;
    left: 100px;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.question-img-box {
    width: 100px;
    height: 50px;
    opacity: 1;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.bi-chat {
    font-size: 40px;
    color: rgba(255,255,255,1);
    opacity: 1;
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: flex;
    margin-left: 30px;
    margin-top: 5px;
}

.menu-box6 {
    width: 400px;
    height: 50px;
    opacity: 1;
    position: absolute;
    top: 250px;
    left: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.content-management {
    border: 0;
    width: 300px;
    color: rgba(255,255,255,1);

    top: 0px;
    left: 100px;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.content-management-img-box {
    width: 100px;
    height: 50px;
    opacity: 1;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.bi-gear {
    font-size: 40px;
    color: rgba(255,255,255,1);
    opacity: 1;
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: flex;
    margin-left: 30px;
    margin-top: 5px;
}

/*.non-click {*/
/*    color: black;*/
/*}*/

/*.click {*/
/*    color: #17A1FA;*/
/*}*/

.content {
    font-family: 'Do Hyeon', sans-serif;

    width: 1520px;
    height: 980px;
    background: rgba(163,163,163,0.20000000149011612);
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 400px;
    overflow: hidden;
}

/* ******************** 관리자 페이지 홈  ******************** */
.content-admin-home {
    width: 1440px;
    height: 900px;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 40px;
    overflow: hidden;
}

.admin-home-box {
    opacity: 1;
    position: absolute;
    overflow: hidden;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); /* 중앙에 엘리먼트 중앙을 맞춤, 없을 시 엘리먼트의 좌측 상단이 중앙에 오게된다. */

    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-home {
    color: #17A1FA;
    font-size: 100px;
}

/* ******************** 사용자 관리  ******************** */
.content-user-management {
    width: 1440px;
    height: 900px;
    background-color: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 40px;
    overflow: hidden;
}

.content-user-management-title-box {
    width: 100%;
    height: 50px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.content-user-management-title-name-box {
    width: 150px;
    height: 50px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-user-management-title-name {
    font-size: 30px;
    color: #17A1FA;
    position: relative;
    top: 0px;
    left: 0px;
    opacity: 1;
}

.content-user-management-table {
    margin: 0 20px 20px 20px;
    border-collapse: collapse; /* 테투리 겹치도록 설정 (한줄이 된다) */
    font-size: 24px;
    width: 1400px;
    opacity: 1;
    position: relative;
}

.content-user-management-table th,
.content-user-management-table td {
    border: 1px solid black; /* 테두리 두께, 스타일, 색상 설정*/
    padding: 10px;
}

.content-user-management-table-header {
    width: 100%;
    height: 100px;
}

.content-user-management-table-body {
    /*width: 100%;*/
    height: 100px;
    text-align: center;
}

/* ******************** 페이지네이션  ******************** */
.paging {
    font-size: 30px;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.paging>i,
.paging>.pages {
    margin: 0 10px;
}

.paging>i,
.pages>span {
    font-family: 'Roboto', sans-serif;
    margin: 0 3px;
    cursor: pointer;
}

.active {
    color: #17A1FA;
    font-weight: bold;
}

/* ******************** 사용자 관리  ******************** */
.content-notice {
    width: 1440px;
    height: 900px;
    background-color: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 40px;
    overflow: hidden;
}

.content-notice-title-box {
    width: 100%;
    height: 50px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.content-notice-title-name-box {
    width: 150px;
    height: 50px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-notice-title-name {
    font-size: 30px;
    color: #17A1FA;
    position: relative;
    top: 0px;
    left: 0px;
    opacity: 1;
}

.content-notice-table {
    margin: 0 20px 20px 20px;
    border-collapse: collapse;
    font-size: 24px;
    width: 1400px;
    opacity: 1;
    position: relative;
}

.content-notice-table th,
.content-notice-table td {
    border: 1px solid black;
    padding: 10px;
}

.content-notice-table-header {
    width: 100%;
    height: 100px;
}

.content-notice-table-body {
    height: 100px;
    text-align: center;
}

/* ******************** 공지사항 검색  ******************** */
.notice-search {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.notice-search-input {
    width: 200px;
    height: 30px;
}

.notice-search-button {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;

    width: 70px;
    height: 32px;
}